### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Reference the file where the CSV is located 
purchase_df = pd.read_csv("Resources/purchase_data.csv")

# Import the data into a Pandas DataFrame
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [3]:
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [4]:
players_count = purchase_df["SN"].drop_duplicates()

In [5]:
total_players = len(players_count)
total_players_df = pd.DataFrame({"Total Players": [total_players]}) 
#Por que los corchetes en total_players
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = len(purchase_df["Item Name"].value_counts())
avg_price = round(purchase_df["Price"].mean(),2)
total_purchases = purchase_df["Item Name"].count()
total_revenue = purchase_df["Price"].sum()

In [7]:
analysis_total_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [avg_price],
    "Number of Purchases" : [total_purchases],
    "Total Revenue" : [total_revenue]
})
format_dict = {"Average Price": "${:.2f}","Total Revenue": "${:.2f}"}
analysis_total_df.style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
grouped_unique_gender = purchase_df[["Gender","SN"]].drop_duplicates()

In [9]:
# Method 1
gender_counts = grouped_unique_gender["Gender"].value_counts()
pct_players = gender_counts/total_players

In [10]:
# Method 2
# Obtain the number count of each gender
male_info = purchase_df.loc[purchase_df["Gender"] == "Male"]
total_male = len(male_info["SN"].unique())

female_info = purchase_df.loc[purchase_df["Gender"] == "Female"]
total_female = len(female_info["SN"].unique())

other_info = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
total_other = len(other_info["SN"].unique())

In [11]:
# Obtain the percentage of each gender
# total 'gender'/ total players *100
pct_male = total_male/total_players
pct_female = total_female/total_players
pct_other = total_other/total_players

In [12]:
gender_demo_df = pd.DataFrame({
    "Total Count":[(total_male),(total_female),(total_other)],
    "Percentage of Players":[(pct_male),(pct_female),(pct_other)]
})

gender_demo_df.index = (["Male", "Female", "Other / Non-Disclosed"])
format_dict = {"Percentage of Players": "{:.2%}"}
gender_demo_df = gender_demo_df.style.format(format_dict)

gender_demo_df

##  Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
grouped_gender_df = purchase_df.groupby(["Gender"])

In [14]:
# obtain the variables needed for the table
purchase_count = grouped_gender_df["Gender"].count()

avg_purchase_price = round(grouped_gender_df["Price"].mean(),2)

total_purchase_value = grouped_gender_df["Price"].sum()

per_person = total_purchase_value / gender_counts

In [15]:
purchased_analysis_gender = pd.DataFrame({
    "Purchase Count" : purchase_count,
    "Average Purchase Price" : avg_purchase_price,
    "Total Purchase Value" : total_purchase_value,
    "Avg Total Purchase per Person" : per_person   
})

format_dict = {"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}","Avg Total Purchase per Person": "${:.2f}"}
purchased_analysis_gender = purchased_analysis_gender.style.format(format_dict)

purchased_analysis_gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Create bins in which Data will be held
age_demos = purchase_df[["Age","SN"]].drop_duplicates()
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19" , "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
age_demos["Age Demographics"] = pd.cut(age_demos["Age"], bins,labels = group_names)

In [22]:
# Calculate total count
total_count = age_demos["Age Demographics"].value_counts()

#Calculate percentage of players
pct_players_age = total_count/total_players

In [23]:
# Summary DataFrame
age_demographics_df = pd.DataFrame({
    "Total Count":total_count,
    "Percentage of Players":pct_players_age.map("{:.2%}".format)
})

age_demographics_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
age_demos = purchase_df[["Age","SN","Purchase ID","Price"]].drop_duplicates()

# Bin the purchase_df data frame by age
age_demos["Age Demographics"] = pd.cut(age_demos["Age"], bins,labels = group_names)

In [31]:
age_grouped = age_demos.groupby("Age Demographics")

# calculate values for the table

purchase_count_age = age_grouped["Age Demographics"].count()

avg_purchase_price_age = round(age_grouped["Price"].mean(),2)

total_purchase_value_age = age_grouped["Price"].sum()

per_person_age = total_purchase_value_age / total_count

In [36]:
# Summary table

analysis_age_df = pd.DataFrame({
    "Purchase Count":purchase_count_age,
    "Average Purchase Price":avg_purchase_price_age,
    "Total Purchase Value":total_purchase_value_age,
    "Avg Total Purchase per Person":per_person_age 
})

analysis_age_df.index.name = "Age Ranges"
format_dict = {"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}","Avg Total Purchase per Person": "${:.2f}"}
analysis_age_df = analysis_age_df.style.format(format_dict)
analysis_age_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [77]:
# spenders = purchase_df["SN"].drop_duplicates()
spender_group = purchase_df.groupby("SN")

purchase_count_spender = spender_group["Purchase ID"].count()

avg_purchase_price_spender = spender_group["Price"].mean()

total_purchase_spender = spender_group["Price"].sum()

In [89]:
top_spenders_df = pd.DataFrame({
    "Purchase Count":purchase_count_spender,
    "Average Purchase Price":avg_purchase_price_spender,
    "Total Purchase Value":total_purchase_spender
})

# sort by total purchase value, this stops the duplicates?
sorted_spenders = top_spenders_df.sort_values("Total Purchase Value", ascending=False).head()

# give index a title
sorted_spenders.index.name = "SN"

#format
format_dict = {"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}"}
sorted_spenders = sorted_spenders.style.format(format_dict)

sorted_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80